<!DOCTYPE html>
<html>
  <head>
    <title>Skpdesk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom' %>
    <%= stylesheet_link_tag 'sidebar3' %>
    <%= javascript_pack_tag 'application',    'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'ror_skp_bridge', 'data-turbolinks-track': 'reload' %>

    <%# Yield all the head codes here! %>
    <% if content_for?(:head) %>
        <%= yield(:head) %>
    <% end %> 
  </head>

  <body>  
    <% if current_user %> 
      <%= render partial: "dashboard/sidebar3" %>
    <% else %>
      <%= render template: "/devise/sessions/new" %>
    <% end %>
  </body>
</html>
